* {
	margin: 0;
	padding: 0;
}

html {
	font-family: Helvetica;
	text-align: center;
	color: black;
}

body {
	background-color: rgb(223, 223, 223);
}

#motor-pwr-progress{
	width: 50%;
	max-width: 550px;
}

#debug-message-text-field {
	width: 40%;
	font-size: large;
	text-align: center;
	border-radius: 5px;
	border-color: black;
	padding: 3px;
}

#debug-send-button {
	color: white;
	background-color: lightseagreen;
}
