html {
	font-family: Helvetica;
	text-align: center;
	color: black;
	min-height: 100%;
}

body {
	background: linear-gradient(145deg, rgba(40, 86, 145, 0.322), 12%, rgb(233, 233, 233));
}

#logo_lif {
	/* position: absolute; */
	margin: 1rem auto 0 auto;
	height: 90px;
}

.data-container {
	padding: 1rem;
	width: 70%;
	max-width: 1000px;
	margin: 12px auto;
	border-radius: 12px;
	box-shadow: 1.5px 1.5px 2px 0px rgba(0, 0, 0, 0.15);
	background-color: white;
}

#motor-pwr-progress {
	height: 12px;
	width: 50%;
	max-width: 550px;
}

#motor-pwr-bar {
	border-radius: 25px;
	/* this will do the magic */
	-webkit-mask: linear-gradient(#fff 0 0);
	mask: linear-gradient(#fff 0 0);
}
#motor-pwr-bar::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		90deg,
		rgb(29, 170, 0) 35%,
		rgb(247, 255, 50) 50%,
		rgb(227, 144, 0) 65%,
		rgb(221, 0, 0) 75%
	);
}

#debug-message-text-field {
	width: 40%;
	font-size: large;
	text-align: center;
	border-radius: 5px;
	border-color: black;
	padding: 3px;
}

#debug-send-button {
	color: white;
	background-color: lightseagreen;
}

#lens_info {
	margin: 0 auto;
	width: 65%;
	max-height: 400px;
	max-width: 1000px;
}

.footer {
	width: 70%;
	max-width: 1000px;
	margin: 12px auto;
	text-align: end;
}
